
<!-- Log out bar -->
<div class="optionContainer">
	<div id="optionBar" class="bg-primary">
		<span id="logoutBtn"><a ng-click="logout()">Log Out</a></span>
		<span  id="accountBtn"><a href="#">Account</a></span>
		<span  id="settingsBtn"><a href="#">Settings</a></span>
	</div>
</div>

<!-- Main logo header -->
<div id="mainHeader" class="container head-container">
	<div class="row">
		<div class="page-header pageHeader">
	  	<h1>Music History Project <small>Start your own musical journey.</small></h1>
		</div>	
	</div>
</div>

<!-- Navigation Container with nav buttons and filter menu-->
<div id="navbar" class="container nav-container">
	<div class="row">

		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
  			<li id=homeNavBtn role="presentation" class="active"><a href="#/songlist">Home</a></li>
  			<li id="viewMusicNavBtn" role="presentation"><a href="#/songlist">My Music</a></li>
  			<li id="addMusicNavBtn" role="presentation"><a href="#/addsong">Add Music</a></li>
			</ul>	
		</div>

		<div id="filtersId" class="col-md-10 well hidden-xs filtersDiv">

			<div class="col-sm-3 filterDropdowns">
				<label>Find Artist:</label>
				<select id="artistSelect" class="form-control artistOptions">
					<option>Select Artist</option>
					<!-- NEW OPTIONS ARE INPUT HERE -->
					<option ng-repeat="song in songs">{{ song.Artist }}</option>
				</select>
			</div>
			<div class="col-sm-3 filterDropdowns">
				<label>Find Album:</label>
				<select id="albumSelect" class="form-control albumOptions">
					<option>Select Album</option>
					<!-- NEW OPTIONS ARE INPUT HERE -->
					<option ng-repeat="song in songs">{{ song.AlbumName }}</option>
				</select>
			</div>

			<div class="col-sm-3 filterRadios">
				<label class="radio"><input type="radio">  Rock</label>
  			<label class="radio"><input type="radio">  R&B</label>
  			<label class="radio"><input type="radio">  Hip-Hop</label>
  			<label class="radio"><input type="radio">  Classical</label>
			</div>
			<div class="col-sm-3 filterRadios">
				<label class="radio"><input type="radio">  Pop</label>
  			<label class="radio"><input type="radio">  Country</label>
  			<label class="radio"><input type="radio">  Dance</label>
  			<label class="radio"><input type="radio">  Other</label>
			</div>
		<!-- End filtersDiv -->
		</div>
	<!-- End Row -->
	</div>
<!-- End Nav Container -->
</div>

<!-- Container for addSongPage and playlistDiv -->
<div id="primary-container" class="container song-container songsWrapper">
	<!-- playlistDiv shows all songs in playlist and their album covers as thumbnails -->
	<div id="playlistId" class="row playlistDiv col-md-12" ng-repeat="song in songs">

		<!-- NEW SONGS ARE INPUT HERE -->
		
		<div class="panel panel-default col-md-10">
	 		<div class="panel-heading">
	   		<h3 class="panel-title">{{song.SongName}}</h3>
			</div>
			<div class="panel-body">
		  	<div class="col-md-11"><strong>{{song.Artist}}</strong> - {{song.AlbumName}}
		  	</div>
		  	<div class="col-md-1">
		  		<button id="{{song.id}}" class="btn btn-primary" ng-click="deleteSong(song)">Delete</button>
		  	</div>
	  	</div>
		</div>
		<div class="albumCover col-md-2">
			<a href="#" class="thumbnail">
	  		<img class"image-responsive" alt="Album Cover" ng-src="{{song.Image}}">
			</a>
		</div> 

	<!-- End Row -->
	</div>
<!-- End song-container -->
</div>







